[package]
name = "virx_erlu_rlib"
version = "0.8.0"
edition = "2021"
authors = ["VirxEC <virx@virxcase.dev>"]
readme = "README.md"
description = "Rust modules for VirxERLU"
homepage = "https://github.com/VirxEC/VirxERLU-RLib"
license = "MIT"
include = ["/src", "pyproject.toml", "virx_erlu_rlib.pyi", "README.md"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "virx_erlu_rlib"
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
glam = "0.20"
rl_ball_sym = "1.0"
dubins_paths = "1.1"

[dependencies.pyo3]
version = "0.15.1"
features = ["extension-module"]

[profile.release]
codegen-units = 2
lto = "fat"
panic = "abort"
