[package]
name = "virx_erlu_rlib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
vvec3 = "0.1.*"
rl_ball_sym = "0.5.*"
dubins_paths = "^0.2.4"
byteorder = "1.*"

[dependencies.cpython]
version = "0.6"
features = ["extension-module"]

[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
