[package]
name = "virx_erlu_rlib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
glam = "0.20.1"
rl_ball_sym = "1.0"
dubins_paths = "^1.0.3"

[dependencies.cpython]
version = "0.6"
features = ["extension-module"]

[profile.release]
codegen-units = 2
lto = "fat"
panic = "abort"
